<div class="login-card">
  <h2>SingIn</h2>
  <p>Favor Autentique para continuar</p>
  <!-- botão de reset -->
  <button (click)="this.signinforms.reset()" class="clean-button" >limpar campos</button>

 <!-- <button class="clean-button"(click)="exemploclick()">Exemplo</button> -->
 <!-- <button class="clean-button"((mouseover))="exemploMouseOver()">Exemplo Mouse Over</button> -->

 <form [formGroup]="this.signinforms" (ngSubmit)="onsubmit()">

    <!-- input do email -->
     <label for="email">E-Mail</label>
     <input type="email" id="email" name="email" placeholder="Digite seu email" formControlName="email">
      <!-- {{this.signinforms.invalid && this.signinforms.get('email')?.touched }} -->
     @if(this.signinforms.invalid && this.signinforms.get('email')?.touched) {

      @if (this.signinforms.hasError('required',"email")) {
         <div class="error-message">
          <small>Campo Obrigatório</small>
        </div>

      }
      @if (this.signinforms.getError("email","email")) {}
      <div class="error-message">
          <small>Erro no Padrão do Email</small>
        </div>


     }

    <!-- input do password -->
    <label for="password">Password</label>
     <input type="password" name="password" id="password" placeholder="Digite sua senha" formControlName="password">
     @if (this.signinforms.valid && this.signinforms.get("password")?.touched) {

        @if (this.signinforms.get("password")?.getError("required")) {
          <div class="error-message">
          <small>Campo Obrigatório</small>
        </div>
        }

        <!-- Usando hasError -->
          <!-- {{(this.signinforms.hasError("minlength", "password"))}}foi so para utilizar para bogar se era verdadeiro ou falso -->

        @if (this.signinforms.hasError("minlength", "password")){
          <div class="error-message">
          <small>Campo tem que ter no minímo 3 caracteres</small>
        </div>
        }

        <!-- Usando o getError -->
        @if (this.signinforms.get("password")?.getError("maxlength")) {}
          <div class="error-message">
          <small>Campo tem que ter no máximo 10 caracteres</small>
        </div>
     }


     <!-- Fim do Bloco -->


    <!-- botões -->
     <div class="button-group">
        <button type="button" class="go-back">voltar</button>
        <button type="submit" class="sign-in">Singin</button>

     </div>


  <!-- fim do form -->
  </form>
</div>

